<div>
  <img  mat-card-image src="https://comoinvestir.thecap.com.br/medias/2021/08/tord11-fundo-imobiliario-tordesilhas-ie-vale-a-pena.webp" alt="Photo of a Shiba Inu">
  <img  mat-card-image src="https://comoinvestir.thecap.com.br/medias/2020/02/mxrf11-fundo-imobiliario-maxi-renda-vale-a-pena.webp">
  <img  mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiH1Fx6OjHxpL5J7VpGsi2O7qNHa1VHaD0Hg&usqp=CAU">

</div>
<div class="texto">
  <span>
    Esse é um fundo imobiliário do tipo papel. Seus investimentos são destinados exclusivamente em títulos e valores mobiliários.
    Fundos com o perfil do MXRF11 investem de forma predominante em títulos de dívida imobiliária e outros valores mobiliários.
    O FII Maxi Renda é um fundo de investimento imobiliário do tipo ANBIMA renda gestão ativa de segmento híbrido. É constituído sob a forma de condomínio fechado, com prazo de duração indeterminado, regido pelas disposições legais e regulamentares que lhe forem aplicáveis.
  </span>
</div>

  <button mat-raised-button color="primary" class="button" (click)="openSnackBar()">INVESTIR</button>

