<div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>MXFR11</mat-card-title>
      <mat-card-subtitle>XP Inc</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://comoinvestir.thecap.com.br/medias/2020/02/mxrf11-fundo-imobiliario-maxi-renda-vale-a-pena.webp">
    <mat-card-content>
      <p class="example-card">
        MXRF11 é um fundo imobiliário do tipo papel. Seus investimentos são destinados exclusivamente em títulos e valores mobiliários.
        Fundos com o perfil do MXRF11 investem de forma predominante em títulos de dívida imobiliária e outros valores mobiliários.
        O FII Maxi Renda é um fundo de investimento imobiliário do tipo ANBIMA renda gestão ativa de segmento híbrido. É constituído sob a forma de condomínio fechado, com prazo de duração indeterminado, regido pelas disposições legais e regulamentares que lhe forem aplicáveis.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/investimentos-info">VER INFO</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>TORD11</mat-card-title>
      <mat-card-subtitle>NUinvest</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://comoinvestir.thecap.com.br/medias/2021/08/tord11-fundo-imobiliario-tordesilhas-ie-vale-a-pena.webp" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="example-card">
        MXRF11 é um fundo imobiliário do tipo papel. Seus investimentos são destinados exclusivamente em títulos e valores mobiliários.
        Fundos com o perfil do MXRF11 investem de forma predominante em títulos de dívida imobiliária e outros valores mobiliários.
        O FII Maxi Renda é um fundo de investimento imobiliário do tipo ANBIMA renda gestão ativa de segmento híbrido. É constituído sob a forma de condomínio fechado, com prazo de duração indeterminado, regido pelas disposições legais e regulamentares que lhe forem aplicáveis.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/investimentos-info">VER INFO</button>
    </mat-card-actions>
  </mat-card>
</div>

