<p>
  <mat-toolbar color="primary">
    <button class="mobile button"  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="mobile" #menu="matMenu">
      <button mat-menu-item routerLink="/investimentos">
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <span class="example-spacer "></span>
    <a class="btn btn-success m-3 toolBarText desktop" routerLink="/investimentos">Investimentos</a>

  </mat-toolbar>
</p>
