.example-spacer {
  flex: 1 1 auto;
}
.toolBarText {
  color: white;
  text-decoration:none;
}
.button{
  background-color: #3f51b5;
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  border: none;
  color: white;
}
.mobile {
  opacity: 0; /* Esconde no desktop. */
  height: 0;
}

@media only screen and (max-width: 400px) {
  .mobile {
      opacity: 1; /* Só aparece no mobile. */
      height: auto;
  }
}

.desktop{
  opacity: 0; /* Esconde no mobile. */
  height: 0;
}

@media only screen and (min-width: 401px) {
  .desktop {
      opacity: 1; /* Só aparece no mobile. */
      height: auto;
  }
}
